:root {
  --bg-color: rgb(245, 245, 215);
  --bg-color-hover: rgb(230, 230, 200);
  --wine: rgba(116, 47, 55, 1);
}

body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.recipes-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.recipe-element {
  border-radius: 10px;
  padding: 10px;
  background-color: white;

  &:hover {
    background-color: var(--bg-color-hover);
  }
}

.recipe-element a {
  text-decoration: none;
}

.recipe-element h2 {
  text-align: center;
  color: var(--wine);
}

.recipe-img {
  border: 2px solid rgb(160, 191, 240);
  width: 300px;
  height: 350px;
  border-radius: 10px;
}

.recipe-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-page-container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.recipe-page-container header .home-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: auto;

  &:hover {
    color: var(--wine);
  }
}

.recipe-page-container article {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--wine);
}

.recipe-page-container article h2 {
  color: var(--wine);
}

@media only screen and (max-width: 1200px) {
  .recipes-list {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .recipe-element {
    border: 1px solid var(--wine);
  }

  .recipe-element h2 {
    width: 300px;
  }

  .recipe-element a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-img {
    width: 250px;
    height: 300px;
  }
}
